.Rproj.user
.Rhistory
.RData
.Ruserdata
_site/
_pdf/
misc/
about.html
assignment-01.html
assignment-02.html
assignment-03.html
assignment-04.html
assignment-05.html
assignment-06.html
assignment-07.html
assignment-08.html
assignment-08_files/
assignment-final.html
index.docx
index.html
index.pdf
lec01-introduction.html
lec01-introduction_files/
lec02-basic-r.html
lec03-basic-r.html
lec04-dplyr.html
lec04-dplyr_files/
lec05-dplyr.html
lec05-dplyr_files/
lec06-pop-models.html
lec06-pop-models_files/
lec07-pop-models.html
lec07-pop-models_files/
lec08-linear-mixed-effects-models.html
lec08-linear-mixed-effects-models_files/
site_libs/
Fitzpatrick_2018.csv
NEON_PlantPA_HARV_201707.csv
lec09_CommunityMatrix_Example.csv
rikz_data.txt
